label {
  display: block;
  font-size: 14px;
  margin-bottom: 4px;
}

.form-group {
  margin-top: 10px;
}

.form-group input,
select {
  width: 100%;
  padding: 8px;
  border: 0.1rem solid #e2e4f0;
  border-radius: 8px;
}

.form-group input:focus,
select:focus {
  border-radius: 8px;
  outline-style: none;
  border-color: #a9afc5;
}
